.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  padding: 20px;
  min-height: 860px;
  background: url(/images/galaxy-background.jpeg);
}

.home-headlines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-headlines h2 {
  font-size: 1rem;
}

.home-ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid var(--light-blue);
  border-radius: 50%;
  padding: 50px 60px 50px 60px;
  width: 60%;
  position: relative;
  background-color: var(--dark-blue);
}

.home-intro {
  right: 20%;
  transform: rotate(355deg);
}

.home-announcement {
  flex-direction: column;
  left: 20%;
  transform: rotate(5deg);
}

.home-announcement ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.home-hamster-ufo {
  position: absolute;
  right: 10px;
  top: -105px;
  width: 150px;
}

.home-carousel {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
  border: 2px solid var(--light-blue);
  padding: 20px 0px 20px 0px;
  width: 90%;
  overflow: hidden;
  background-color: var(--dark-blue);
}

.home-products {
  display: flex;
  column-gap: 30px;
  animation: carousel 20s linear infinite;
}

.home-products img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 250px;

}

@keyframes carousel {
  100% {
    transform: translateX(-222.5%);
  }
}

@media (max-width: 640px) {
  .home-headlines {
    row-gap: 100px;
  }

  .home-ellipse {
    padding: 40px 50px 40px 50px;
    width: 90%;
  }

  .home-intro {
    right: 5%;
  }

  .home-announcement {
    left: 5%;
  }
}
