/*
  TO DO: Maybe combine css with ProductsPage
*/
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 30px;
  min-height: 90vh;
  padding: 0% 10% 0% 10%;
  background: var(--light-blue);
}

.header {
  margin-top: 30px;
}

.headline {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: left;
  border-radius: 30px;
  padding: 30px;
  background-color: var(--mid-blue);
}

.new-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 30px;
  padding: 0% 10% 0% 10%;
  background: var(--light-blue);
}

.new-products-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 830px;
}
