.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  background: var(--mid-blue);
}
