.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid var(--purple);
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  width: 250px;
  height: 342px;
  background-color: black;
  cursor: pointer;
}

.card img {
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  aspect-ratio: 1/1.1;
  object-fit: cover;
}

.card-overlay-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 100dvh;
  z-index: 1;
}

.card-overlay-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.5);
}

.card-overlay {
  display: flex;
  position: fixed;
  column-gap: 30px;
  border: 1px solid var(--purple);
  border-radius: 15px;
  padding: 50px 30px 50px 30px;
  width: 800px;
  background-color: black;
}

.card-overlay-image {
  display: flex;
  align-items: start;
  width: 50%;
}

.card-overlay-image img {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 1/1.1;
  object-fit: cover;
}

.card-overlay-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  row-gap: 20px;
  width: 50%;
}

.card-overlay-info h2 {
  font-size: 1.25rem;
}

.card-overlay-description {
  display: flex;
  flex-direction: column;
  row-gap: 0.85rem;
}

.card-add-to-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.card-quantity {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.card-add {
  width: 110px;
  height: 30px;
}

.card-add p {
  color: black;
  text-shadow: 1px 1px 2px var(--purple);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.card-close {
  position: fixed;
  width: 30px;
  height: 30px;
  transform: translate(720px, -30px)
}

.card:active {
  filter: brightness(70%);
}

@media (max-width: 445px) {
  .card-overlay-info {
    row-gap: 10px;
  }

  .card-overlay-info h2, h3 {
    font-size: 0.85rem;
  }
}

@media (max-width: 828px) {

  .card-overlay {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    padding: 15px;
    width: 95%;
  }

  .card-overlay-image {
    justify-content: center;
    width: 100%;
  }

  .card-overlay-image img {
    aspect-ratio: 1.25/1;
    width: 75%;
  }

  .card-overlay-info {
    text-align: center;
    width: 100%;
  }

  .card-add-to-cart {
    flex-direction: row;
    column-gap: 20px;
  }

  .card-close {
    align-self: end;
    position: fixed;
    transform: unset;
  }
}
