.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 860px;
  background: url(/images/galaxy-background.jpeg);
}

.contact-header {
  margin: 30px;
  width: 90%;
  max-width: 400px;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  column-gap: 90px;
  row-gap: 30px;
  width: 100%;
}

.contact-links a {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1.11/1;
  max-width: 200px;
}

.contact-links h2 {
  font-size: 1rem;
}

.contact-questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  box-sizing: border-box;
  padding: 30px;
}

.contact-questions ul {
  display: flex;
  flex-direction: column;
}

.contact-question {
  margin-top: 10px;
}

.contact-question:before {
  content: "Q: ";
}

.contact-answer {
  margin-bottom: 10px;
}

.contact-answer:before {
  content: "A: ";
}
