.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 30px;
  width: 60%;
  background: url(/galaxy-background.jpeg);
}
.contact p {
  /* Font "Pres Start 2P" from https://fonts.google.com/ */
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}

.contact-header {
  width: 50%;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  column-gap: 90px;
  row-gap: 30px;
  width: 100%;
}

.contact-links a {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1.11/1;
  width: 200px;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
}

.girl-sit {
  aspect-ratio: 0.57/1;
  position: absolute;
  left: 10%;
  top: 450px;
}
