.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  padding: 20px;
  min-height: 860px;
  background: url(/images/galaxy-background.jpeg);
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header {
  margin: 20px;
  width: 90%;
  max-width: 400px;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  column-gap: 90px;
  row-gap: 30px;
  width: 100%;
}

.contact-links a {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 200px;
}

.contact-links h2 {
  font-size: 1rem;
}

.contact-questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  box-sizing: border-box;
}

.contact-questions ul {
  display: flex;
  flex-direction: column;
}

.contact-question {
  margin-top: 10px;
  padding-left: 2em;
  text-indent: -2em;
}

.contact-question:before {
  content: "Q:";
  padding-right: 1em;
}

.contact-answer {
  margin-bottom: 10px;
  padding-left: 2em;
  text-indent: -2em;
}

.contact-answer:before {
  content: "A:";
  padding-right: 1em;
}
