.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 30px;
  padding: 30px 0px 30px 0px;
  width: 60%;
  min-height: 400px;
  background: url(/galaxy-background.jpeg);
}

.cart h1 {
  /* Font "Pres Start 2P" from https://fonts.google.com/ */
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}

.cart-header {
  display: flex;
  width: 90%;
  justify-content: left;
  column-gap: 20px;
}

.header-item {
  margin-left: 20px;
  margin-right: auto;
}

.header-quantity {
  margin-right: 50px;
}

.header-total {
  margin-right: 125px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  width: 90%;
  row-gap: 20px;
  padding: 30px 30px 30px 30px;
}

/* TO DO : Mobile UI Responsiveness */