.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding: 20px;
  min-height: 860px;
  background: url(/images/galaxy-background.jpeg);
}

.cart-header {
  display: grid;
  grid-template-columns: 57% 18% 25%;
  width: 85%;
}

.cart-items {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 90%;
  min-height: 500px;
  
}

.cart-check-out {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-check-out-button {
  width: 130px;
  height: 30px;
}

@media (width <= 768px) {
  .cart-header {
    display: none;
  }
}
