.cart-item {
  display: grid;
  grid-template-columns: 57% 18% 25%;
  box-sizing: border-box;
  border: 1px solid var(--purple);
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
  background-color: black;
}

.cart-info {
  display: flex;
  column-gap: 10px;
}

.cart-image {
  width: 75px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.cart-text {
  display: flex;
  flex-direction: column;
}

.cart-quantity {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.cart-total {
  display: flex;
  align-items: center;
}

.cart-remove {
  margin-left: auto;
  width: 30px;
  height: 30px;
}

.cart-mobile-header {
  display: none;
}

@media (width <= 768px) {
  .cart-item {
    display: flex;
    flex-direction: column;
  }

  .cart-quantity {
    margin-top: 10px;
  }

  .cart-remove {
    transform: translateY(-63px);
  }

  .cart-mobile-header {
    display: flex;
  }
}
