.cart-item {
  display: flex;
  text-align: left;
  row-gap: 20px;
  column-gap: 20px;
  box-sizing: border-box;
  border: 1px solid var(--purple);
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
  background-color: black;
}

.cart-image {
  aspect-ratio: 1/1;
  width: 75px;
}

.cart-info {
  display: flex;
  flex-direction: column;
}

.cart-quantity {
  display: flex;
  margin-left: auto;
  padding: 0px 125px 0px 0px;
}

.cart-price {
  display: flex;
}

.cart-remove {
  width: 30px;
  height: 30px;
  margin: 10px 10px 0px 0px;
  box-sizing: border-box;
  border: 1px solid var(--purple);
  cursor: pointer;
  background: var(--light-gray);
}

/* TO DO : Mobile UI responsiveness */