:root {
  --dark-blue: #003172;
  --light-blue: #00BBFF;
  --purple: #4D51A5;
  --light-gray: #D9D9D9;
  --dark-gray: #999999;
}

/* Font "Papyrus" from https://befonts.com/papyrus-font.html */
@font-face {
  font-family: papyrus;
  src: url(/fonts/papyrus.ttf);
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  /* Font "Silkscreen" from https://fonts.google.com/ */
  font-family: "Silkscreen", serif;
  font-weight: 400;
  font-style: normal;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

h1, h2, h3, p, a, li {
  text-decoration: none;
  color: white;
}

h2, u {
  /* Font "Press Start 2P" from https://fonts.google.com/ */
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}

h1 {
  font-family: "papyrus";
  font-size: 3rem;
  font-weight: normal;
}

a {
  /* Font "Inter" from https://fonts.google.com/ */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

li {
  list-style-type: none;
}

img {
  aspect-ratio: auto;
}

#root {
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding: 20px 0px 20px;
  width: 100%;
}

.app-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  max-width: 1024px;
}

.app-sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 220px;
  width: 200px;
}

.app-sidebar img {
  width: 200px;
}

.app-collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: flex-end;
  row-gap: 20px;
}

.app-collage img {
  width: 100px;
}

.app-cat-yellow {
  transform: translateY(40px);
}

.app-girl-dance {
  transform: translateX(80px);
}

.app-girl-sit {
  transform: translateX(-80px);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer img {
  width: 32%;
}

.app-stripe {
  margin: 5px;
}

.app-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--purple);
  color: black;
  font-family: "Inter", sans-serif;
  text-shadow: 1px 1px 2px var(--purple);
  background-color: var(--light-gray);
  cursor: pointer;
  user-select: none;
}

.app-button:active {
  background-color: var(--dark-gray);
}

.app-adjust {
  width: 30px;
  height: 30px;
  padding-bottom: 4px;
}

.app-adjust p {
  color: var(--purple);
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
}

@media (max-width: 1280px) {
  .app {
    width: 95%;
  }

  .app-sidebar {
    display: none;
  }
}
