:root {
  --dark-blue: #477081;
  --mid-blue: #D6E4FC;
  --light-blue: #F0F3FC;
  --blue: #003172;
  --purple: #4D51A5;
  --light-gray: #D9D9D9;
}

/* Font "Papyrus" from https://befonts.com/papyrus-font.html */
@font-face {
  font-family: papyrus;
  src: url(/papyrus.ttf);
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  /* Font "Silkscreen" from https://fonts.google.com/ */
  font-family: "Silkscreen", serif;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

h1, h2, h3, p, a {
  text-decoration: none;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
}

.app-left-sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateY(225px);
  right: 74%;
  row-gap: 20px;
}

.girl-sit {
  aspect-ratio: 0.57/1;
  width: 250px;
}

.things {
  display: flex;
  flex-direction: column;
}

.things img {
  aspect-ratio: 1/1;
  width: 200px;
}

.girl-dance {
  aspect-ratio: 0.63/1;
  width: 300px;
}

.app-right-sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateY(225px);
  left: 83%;
  row-gap: 20px;
}

.app-right-sidebar img {
  width: 200px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.footer img {
  width: 32%;
 }

/* TO DO: Mobile UI responsiveness */