.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding: 20px;
  min-height: 860px;
  background: url(/images/galaxy-background.jpeg);
}

.products-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.products-category-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  row-gap: 10px;
  border: 1px solid var(--purple);
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  width: 250px;
  background-color: black;
  cursor: pointer;
}

.products-category-card:active {
  filter: brightness(70%);
}

.products-category-card img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.products-categories h2 {
  text-align: center;
  font-size: 1rem;
}

.products-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  max-width: 830px;
}

.products-back {
  width: 70px;
  height: 30px;
}

.products-data {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}


@media (width <= 640px) {
  .products-data {
    grid-template-columns: auto;
  }
}

@media (width > 640px) and (width <= 1024px) {
  .products-data {
    grid-template-columns: auto auto;
  }
}
