.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 90vh;
  padding: 0% 10% 0% 10%;
  background: var(--light-blue);
}

.products h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.products-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 830px;
  padding:  0% 10% 0% 10%;
}
